@import url(reset.css);
@import url(header.css);

.main-container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
}

.main-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* FORMULAIRE */
.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    
}

.form-group input,
.form-group select {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 18px;
    background-color: #f9f9f9;
}

.btn-modifier {
    background-color: #ff5a7c;
    color: #fff;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
}

.btn-modifier:hover {
    opacity: 0.8;
}


.form-group {
    flex-direction: row;      /* Aligne label et champ sur une même ligne */
    align-items:center;      /* Centre verticalement label et input */
    justify-content: flex-start;
    gap: 20px;
}

/* Retrait de la marge du label et définition d’une largeur fixe ou mini */
.form-group label {
    margin-bottom: 0;         /* Retire la marge en bas (sinon ça décale) */
    min-width: 120px;         /* Largeur minimale pour aligner proprement */
    text-align: left;        /* Aligne le texte à gauche */
}
